@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-thickness: 80px;
  --navbar-thickness: 200px;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.wrapper {
  display: grid;
  grid-template-rows: var(--header-thickness) calc(
      100vh - var(--header-thickness)
    );
  grid-template-columns: var(--navbar-thickness) calc(
      100vw - var(--navbar-thickness)
    );
}

.session {
  @apply bg-gray-100 border-b-gray-300 border-b;
}

.sidebar {
  @apply outline-1 outline-gray-200 outline;
  grid-row: 2/3;
  grid-column: 1/2;
}

.header {
  @apply bg-gray-100 border-b-gray-300 border-b;
  grid-row: 1/2;
  grid-column: 2/3;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.data-tab {
  @apply border-t border-b border-gray-200 w-full;
}

.row {
  @apply grid grid-cols-4 border-b border-gray-200;
}

.data-entry {
  @apply p-2 text-center border-r border-gray-200;

  &:last-child {
    @apply border-r-0;
  }
}
